:root {
    --accent-color: #F1EEE9;
    --font-Gill-Sans-MT: "Gill Sans MT";
    --ff-Lato: 'Lato', sans-serif;
    --ff-barlow: 'Barlow', sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --margin-48: 2.5vw;
    --fs-heading: 2.5rem;
    --fs-16: 1rem;
    --fs-30: 1.875rem;
    --br-2: 0.125rem;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-regular: 400;
    --lh-30: 1.875rem;
    --margin-300: 15.625vw;
    /* Based on Height */
    --margin-48-height: 4.6875vh;
    --margin-40: 3.90625vh;
    --margin-56: 5.46875vh;
    --margin-88: 8.59375vh;
    --margin-mobile: 4.65vw;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    background-color: #F1EEE9;
} */

a {
    color: black;
    text-decoration: none;
}

button {
    border: none;
}

header {
    background-color: var(--accent-color);
    font-family: var(--font-Lato);
    position: relative;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.8));
    z-index: 10;
    margin-bottom: 1px;
}

.top {
    margin-left: 4.65vw;
    margin-right: 4.65vw;
    width: auto;
    height: 9.375rem;
    display: flex;
    align-items: center;
}

.flex-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.logo-group {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 73.84%;
}

.logo {
    width: 20.93vw;
    height: 17.90vw;
    max-height: 125px;
    max-width: 146px;
}

#line {
    border-left: 2px solid black;
    height: 17.44vw;
    max-height: 115px;
}

#slogan {
    font-size: 2.79vw;
    line-height: 3.72vw;
    font-weight: var(--fw-regular);
    text-align: center;
    font-family: var(--ff-Lato);
}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    gap: 2px;
}

.hamburger p {
    font-family: var(--ff-Lato);
    font-size: 4.18vw;
    font-weight: var(--fw-regular);
}

.hamburger svg {
    width: 5.58vw;
}

.our-story-pic{
    background-image: url("../images/about-us/Background.jpg");
    height: 245px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--ff-barlow);
    font-weight: 800;
    font-size: 30px;

}

.our-story-grid{
    display: grid;
    grid-template-rows: repeat(2, 50px);
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: center;
    text-align: center;
}

.our-story-grid .untold{
    background: linear-gradient(to bottom, #FFC400FF 60%, #9747FF 90%);
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.our-story-grid p:nth-child(1) {
    grid-row: 1;
    /* Place in first row */
    grid-column: 1;
    /* Span across all three columns */
}

.our-story-grid p:nth-child(3) {
    grid-row: 1;
    /* Place in second row */
    grid-column: 3;
    /* First column */
}

.our-story-grid p:nth-child(2) {
    grid-row: 2;
    /* Place in second row */
    grid-column: 2;
    /* Second column */
}

.our-work{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    text-align: justify;
}

.what-we-do{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.what-we-do .text1{
    font-family: var(--ff-roboto);
    font-size: 22px;
    color: #575757;
    font-weight: var(--fw-medium);
}

.what-we-do .text2{
    font-family: var(--ff-barlow);
    font-size: 32px;
    font-weight: var(--fw-bold);
    text-align: center;
    letter-spacing: 1.5px;
}

.what-we-do .text3{
    background-color: #F1EEE9;
    font-family: var(--ff-roboto);
    font-size: 18px;
    font-weight: var(--fw-regular);
    letter-spacing: 1px;
    line-height: 24px;
}

.what-we-do .text3 p{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.what-we-do-pic{
    background-image: url("../images/about-us/map1png.png");
    height: 180px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.why-we-need-history{
    margin-top: 24px;
}

.why-history-pic{
    background-image: url("../images/about-us/map1png.png");
    height: 180px;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.investments{
    margin-top: 32px;
    text-align: justify;
    background-color: #D9D9D9;
}

.inside-investments{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.investments .title{
    font-family: var(--ff-roboto);
    font-size: 22px;
    color: #575757;
    font-weight: var(--fw-regular);
    margin-top: 24px;
    text-align: center;
}

.investments .education{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 16px;
}

.investments .education .pic{
    height: 260px;
    background-image: url("../images/about-us/Education.png");
    width: 100%;
    background-size: cover;           
    /* background-position: center; */
}

.education .text1{
    font-family: var(--ff-barlow);
    font-size: 24px;
    font-weight: var(--fw-medium);
}

.education .text2{
    font-family: var(--ff-roboto);
    font-size: 18px;
    font-weight: var(--fw-regular);
    color: #575757;
    line-height: 24px;
}

.join-us{
    width: 190px;
    height: 47px;
    font-family: var(--ff-barlow);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    margin: 0 auto;
    letter-spacing: 2px;
}

.investments .nature .pic{
    height: 260px;
    background-image: url("../images/about-us/Nature3.png");
    width: 100%;
    background-size: cover;
    background-position: center;
}

.join-us:hover{
    background-color: black;
    color: white;
}

.investments .nature .join-us{
    margin-bottom: 16px;
}

.footer {
    background-color: black;
    color: white;
    height: auto;
    width: 100vw;
}

.footer-long-card-image {
    background-image: url("../images/home/bg.jpg");
    height: 218px;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-long-card-image-text1 p {
    font-family: var(--ff-barlow);
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}

.footer-long-card-image-text2 p {
    font-family: var(--ff-barlow);
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    /* margin-top: 16px; */
    font-weight: 400;
}

.footer-long-card-image-subscribe-btn {
    width: 220px;
    height: 46px;
    background-color: #FFCC00;
    /* margin-top: 16px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: var(--ff-Lato);
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-long-card-image-subscribe-btn:hover {
    background-color: black;
    color: white;
}

.footer-other-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* align-items: center; */
    justify-content: center;
}

.footer-legal {
    width: 177px;
    height: auto;
    font-family: var(--ff-roboto);
    font-size: 14px;
}

.footer-heading {
    font-family: var(--ff-barlow);
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px;
    text-transform: uppercase;
}


.icons {
    display: flex;
    gap: 12px;
    margin-top: 8px;
}

.icons i {
    font-size: 20px;
}

.footer-copy-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 30px;
    gap: 24px;
}

.copy-right-sections {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    font-family: var(--ff-roboto);
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 8px;

}

.small-line {
    border-left: 2px solid white;
    height: 20px;
}

.grid {
    display: none;
}

nav {
    display: none;
}

@media (min-width: 900px) and (max-width: 1299px) {
    .top {
        margin-left: 24px;
        margin-right: 24px;
        width: auto;
        height: 88px;
        display: flex;
        align-items: center;
    }

    .logo-group {
        justify-content: start;
        gap: 24px;
        width: auto;
    }

    .logo {
        width: 75px;
        height: 55px;
    }

    #slogan {
        font-size: 14px;
        line-height: 15px;
        font-weight: var(--fw-medium);
    }

    #line {
        border-left: 1.5px solid black;
        height: 55px;
    }

    .hamburger {
        display: none;
    }

    .main {
        width: auto;
        height: auto;
        background-color: #F1EEE9;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    nav {
        display: block;
    }

    .nav-btns {
        width: 130px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-btn-text {
        font-family: var(--ff-Lato);
        font-size: 18px;
        font-weight: 500;
    }

    .nav-btns:hover {
        filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.25));
        border-radius: 7px;
        background-color: #F1EEE9;
    }

    .icon {
        margin-left: 5px;
        display: flex;
        align-items: center;
    }

    .icon img {
        width: 19px;
        height: 20px;
    }

    .footer-long-card-image-text1 p {
        font-family: var(--ff-barlow);
        font-weight: bold;
        font-size: 32px;
        line-height: 30px;
        text-align: center;
    }

    .footer-long-card-image-text2 p {
        font-family: var(--ff-barlow);
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        /* margin-top: 16px; */
        font-weight: 300;
    }

    .footer-long-card-image-subscribe-btn {
        width: 220px;
        height: 46px;
        background-color: #FFCC00;
        margin-top: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-family: var(--ff-Lato);
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 1px;
    }
}

@media (min-width: 1300px) {

    .top {
        margin-left: 24px;
        margin-right: 24px;
        width: auto;
        height: 88px;
        display: flex;
        align-items: center;
    }

    .logo-group {
        justify-content: start;
        gap: 24px;
        width: auto;
    }

    .logo {
        width: 75px;
        height: 55px;
    }

    #slogan {
        font-size: 14px;
        line-height: 15px;
        font-weight: var(--fw-medium);
    }

    #line {
        border-left: 1.5px solid black;
        height: 55px;
    }

    .hamburger {
        display: none;
    }

    .main {
        width: auto;
        height: auto;
        background-color: #F1EEE9;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    nav {
        display: block;
    }

    .nav-btns {
        width: 130px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-btn-text {
        font-family: var(--ff-Lato);
        font-size: 18px;
        font-weight: 500;
    }

    .nav-btns:hover {
        filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.25));
        border-radius: 7px;
        background-color: #F1EEE9;
    }

    .icon {
        margin-left: 5px;
        display: flex;
        align-items: center;
    }

    .icon img {
        width: 19px;
        height: 20px;
    }

    .footer-long-card-image {
        margin-top: 20px;
    }

    .footer-long-card-image-text1 p {
        font-family: var(--ff-barlow);
        font-weight: bold;
        font-size: 32px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 2px;
    }

    .footer-long-card-image-text2 p {
        font-family: var(--ff-barlow);
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin-top: 10px;
        font-weight: 300;
    }

    .footer-long-card-image-subscribe-btn {
        width: 265px;
        height: 46px;
        background-color: #FFCC00;
        margin-top: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-family: var(--ff-Lato);
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        border-radius: 1px;
    }

    .footer-other-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 245px;
        margin-right: 245px;
        gap: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        /* align-items: center; */
        justify-content: space-around;
        max-width: 900px;
    }

    .footer {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }

    .hr {
        width: 100%;
        /* Set the width explicitly */
        margin: 10px 0;
        /* Adjust margin as needed */

    }

    .footer-copy-right {
        align-items: center;
        gap: 32px;
    }

    .copy-right-sections {
        flex-direction: row;
        gap: 48px;
    }

}